{% extends 'base_layout.html' %}

{% block content %}
<div class="course-detail">
    <div class="course">
    <h1>Catalog</h1>
        {% for module in modules %}
        <div class="modulelist">
            <h2><a class="redirect_link" href="{% url 'instructors:instructor-module-detail' moduleid=module.id %}">{{ module.title }}</a></h2>
        </div>
        {% endfor %}
    <a class = "redirect_button" href="{% url 'instructors:instructor-add-module' courseid=course.id %}">Add Module</a>
    <a class = "redirect_button" href="{% url 'instructors:instructor-reorder-module' courseid=course.id %}">Reorder Module</a>
    </div>
</div>
{% endblock %}